streamlit
yfinance
pandas
openpyxl
pandas_market_calendars
pandas
streamlit
plotly
openpyxl
numpy
datetime
readability-lxml
beautifulsoup4
requests
feedparser
trafilatura
lxml
sqlalchemy
pymysql
sqlalchemy
pymysql
feedparser
tenacity
python-dateutil
